<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>El Mundo</title>

        <link href="css/ionic.app.min.css" rel="stylesheet">
        <link href="lib/suaip/dist/suaip.min.css" rel="stylesheet">
        <link href="css/main.min.css" rel="stylesheet">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/hammer.js/hammer.min.js"></script>
        <script src="lib/ionic-ion-swipe-cards/ionic.swipecards.js"></script>
        <script src="cordova.js"></script>
        <script src="js/app.min.js"></script>
    </head>
    <body ng-app="em">
        <ion-pane>
        	<div style="position: fixed;left: 50%;bottom: -50px;left: 50%;z-index: 99;">
        		<div class="info-pager">
	        		<ul>
		        		<li class="menu-icon active-icon">3</li>
		        		<li class="menu-icon point active-icon">2</li>
		        		<li class="menu-icon point">2</li>
		        		<li class="menu-icon point">2</li>
		        		<li class="menu-icon location">c</li>
						<li class="menu-icon later">4</li>
	        		</ul>
        		</div>
        	</div>
            <ion-content scroll="false" ng-controller="CardGridCtrl">
                <swipe-cards>
                    <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
                       <div style="text-align: center;margin-top:27px;">
                        <div class="later-icon"><button class="button button-icon icon icon-theclock2"></button>
                            <p>Leer más tarde</p>
                        </div>
                        <div class="share-icon"><button class="button button-icon icon icon-share2"></button>
                            <p>Compartir</p>
                        </div>
                       </div>
                  </swipe-card>
                </swipe-cards>

                <div id="intro" ng-show="showIntro">
                    <ion-header-bar class="bar-stable">
                        <h1 class="title">El Mundo</h1>
                        <button class="button button-clear button-positive" ng-click="selectCategories()">Siguiente</button>
                    </ion-header-bar>
                    <p>
                    <div class="content has-header">
                        <div style="margin-left:15px;margin-bottom:35px;">
                            <h2>Bienvenido</h2>
                            <h5>Selecciona las 3 categorías que más te interesen</h5>
                        </div>
                        <ul class="list ">
                            <li class="item item-checkbox" ng-repeat="c in categories">
                                <label class="checkbox">
                                    <div class="icon icon-check" ng-class="iconForCategory(c)"></div>
                                </label>
                                <span ng-bind="c.title"></span>
                                <label class="checkbox checkbox-custom">
                                <input type="checkbox" ng-model="selectedCategories[c.url]" ng-click="selectCategory($event, c.url)">
                                </label>
                            </li>
                        </ul>
                    </div>
                    </p>
                </div>

                <div class="suaip-card" id="top">
                    <news-list-tpl category="getCategory()" news-list="getCurrentNews()"></news-list-tpl>
                </div>

                <div class="suaip-card" id="read">
                    <news-tpl ng-if="showCenter()" news="articleForCenter()" category="getCategory()"></news-tpl>
                </div>

                <div class="suaip-card" id="left">
                    <news-tpl news="articleForLeft()" ng-if="showLeft()" category="getCategory()"></news-tpl>
                </div>

                <div class="suaip-card" id="right">
                    <news-tpl news="articleForRight()" ng-if="showRight()" category="getCategory()"></news-tpl>
                </div>
            </ion-content>
        </ion-pane>
    </body>
</html>
